   <!-- Loader -->
      <div class="loader">
        <div class="loader-img"></div>
      </div>

        <!-- Top content -->
        <div class="top-content">

          <!-- Top menu -->
      <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Puppet Debugger</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="scroll-link" href="#how-it-works">How it works</a></li>
              <li><a class="scroll-link" href="#pricing">Pricing</a></li>
              <li><a class="scroll-link" href="#c-form-2">Contact Us</a></li>
              <li><a class="btn btn-link-2" href="/documentation">Documentation</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text wow fadeInUp">
              <h1>The <strong>Puppet Debugger</strong> is an <strong>interactive live debugger</strong> for the <strong>Puppet</strong> language</h1>
              <div class="description">
                <p>We have been working very hard to create the new version of our product. It comes with a lot of new features, easy to follow videos and images.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 images-slider wow fadeInUp">
              <div id="slider-1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#slider-1" data-slide-to="0" class="active"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <!-- <div class="item active">
                    <iframe src="https://www.puppet-debugger.com" width="760" height="460"></iframe>
                  </div> -->
                  <div class="item active">
                    <img src="assets/img/devices/browser.jpg" alt="">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- More features -->
        <div class="how-it-works-container section-container section-container-gray-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 more-features section-description wow fadeIn">
                      <h2>How it Works</h2>
                      <!-- <div class="divider-1 wow fadeInUp"><span></span></div> -->
                  </div>
              </div>
              <div class="row">
                 <div class="col-sm-12 minus-top-20">
                   <img src="assets/img/debugger_overview.png" />
                 </div>
              </div>
              <div class="row">
                <div class="col-sm-6 more-features-box wow fadeInLeft">
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                      <span aria-hidden="true" class="typcn typcn-attachment"></span>
                    </div>
                    <h3>Start Debugger</h3>
                    <div class="more-features-box-text-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                    </div>
                  </div>
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                      <span aria-hidden="true" class="typcn typcn-user"></span>
                    </div>
                    <h3>Parse Input</h3>
                    <div class="more-features-box-text-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 more-features-box wow fadeInUp">
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                      <span aria-hidden="true" class="typcn typcn-attachment"></span>
                    </div>
                    <h3>Evaluate and Compile</h3>
                    <div class="more-features-box-text-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                    </div>
                  </div>
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                      <span aria-hidden="true" class="typcn typcn-user"></span>
                    </div>
                    <h3>Display Output</h3>
                    <div class="more-features-box-text-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>


        <!-- Pricing -->
        <div class="pricing-container section-container section-container-image-bg">
          <div class="container">
            <div class="row">
                <div class="col-sm-12 pricing section-description wow fadeIn">
                    <h2>Pricing</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 pricing-box pricing-box-best wow fadeInUp">
                  <div class="pricing-box-inner">
                    <div class="pricing-box-price">
                      <span></span><strong>Free</strong><span></span>
                       <div class="pricing-box-icon">
                        <span aria-hidden="true" class="typcn typcn-star"></span>
                      </div>
                    </div>
                      <h4>Basic</h4>
                      <div class="pricing-box-features">
                        <ul>
                          <li>Latest Puppet Version</li>
                          <li>Latest Deubgger Version</li>
                          <li>Common Puppet Modules</li>
                          <li>Interactive Language Debugger</li>
                          <li>Safely evaluate Puppet language features</li>
                          <li>Single Session Type</li>
                        </ul>
                      </div>
                      <div class="pricing-box-sign-up">
                        <a class="btn btn-link-1 scroll-link" href="#">Sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 pricing-box wow fadeInDown">
                    <div class="pricing-box-inner">
                    <div class="pricing-box-price">
                      <span>$ </span><strong>75</strong><span> / month</span>

                    </div>
                      <h4>Pro</h4>
                      <div class="pricing-box-features">
                        <ul>
                          <li>Swappable Puppet versions</li>
                          <li>Swappable Ruby verisons</li>
                          <li>Use any Puppet Modules</li>
                          <li>Isolated Sessions</li>
                          <li>3 Session Types</li>
                          <li>Basic level support</li>
                        </ul>
                      </div>
                      <div class="pricing-box-sign-up">
                        <a class="btn btn-link-1 scroll-link" href="#c-form-2">Learn More</a>
                      </div>
                  </div>
                  </div>
                  <div class="col-sm-4 pricing-box wow fadeInUp">
                    <div class="pricing-box-inner">
                    <div class="pricing-box-price"><span>$ </span><strong>500</strong><span> / month</span></div>
                      <h4>Enterprise</h4>
                      <div class="pricing-box-features">
                        <ul>
                          <li>All Pro Features</li>
                          <li>On Premise Product</li>
                          <li>Unlimited Session Types</li>
                          <li>Enterprise level support</li>

                        </ul>
                      </div>
                      <div class="pricing-box-sign-up">
                        <a class="btn btn-link-1 scroll-link" href="#c-form-2">Learn More</a>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <!-- Contact -->
       <div class="c-form-2-container section-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 c-form-2 section-description wow fadeIn">
                      <h2>Contact Us</h2>
                      <div class="divider-1 wow fadeInUp"><span></span></div>
                      <!-- <p>We would love to hear from you if...</p> -->
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-6 c-form-2-box wow fadeInLeft">

                  <div class="c-form-2-top">
                    <div class="c-form-2-top-left">
                      <!-- <h3>Contact us</h3> -->
                      <p>Fill in the form below to contact us:</p>
                    </div>
                    <div class="c-form-2-top-right">
                      <i class="fa fa-paper-plane"></i>
                    </div>
                  </div>
                  <div class="c-form-2-bottom">
                    <form role="form" action="assets/contact.php" method="post">
                      <div class="form-group">
                        <label class="sr-only" for="c-form-2-email">Email</label>
                          <input type="text" name="email" placeholder="Email..." class="c-form-2-email form-control" id="c-form-2-email">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="c-form-2-subject">Subject</label>
                          <input type="text" name="subject" placeholder="Subject..." class="c-form-2-subject form-control" id="c-form-2-subject">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="c-form-2-message">Message</label>
                          <textarea name="message" placeholder="Message..." class="c-form-2-message form-control" id="c-form-2-message"></textarea>
                        </div>
                        <button type="submit" class="btn">Send message</button>
                    </form>
                  </div>

                  </div>
                  <div class="col-sm-6 c-form-2-box c-form-2-box-text wow fadeInUp">
                    <h3>Thanks you for your interest in the Puppet Debugger.</h3>
                    <p class="medium-paragraph">We are still developing our Pro and Enterprise versions of the Puppet Debugger.</p>

                    <p>We welcome feedback isi <span class="orange">enim ad minim</span> veniam, quis nostrud. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                      commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <span class="orange">incididunt</span> ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud. Exerci tation ullamcorper suscipit lobortis.</p>
                  </div>
              </div>
          </div>
        </div>

        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
                    <div class="col-sm-12 footer-social">
                      <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                      <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                      <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                      <a href="#"><span class="typcn typcn-social-google-plus"></span></a>
                      <a href="#"><span class="typcn typcn-social-instagram"></span></a>
                      <a href="#"><span class="typcn typcn-social-pinterest"></span></a>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12 footer-copyright">
                      &copy; 2016 NW Ops
                    </div>
                </div>
          </div>
        </footer>


        <!-- Javascript -->
      <!--   // <script src="assets/js/jquery-1.11.1.min.js"></script> -->
<!--         // <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        // <script src="assets/js/jquery.backstretch.min.js"></script>
        // <script src="assets/js/wow.min.js"></script>
        // <script src="assets/js/retina-1.1.0.min.js"></script>
        // <script src="assets/js/scripts.js"></script> -->

